##---------JAVA--------##
.DS_Store
target/
.svn/
*.swp
*.iml
.gradle
/local.properties
.idea/
/build
.project
.settings/
.classpath
*.ipr
*.iws

##---------C#--------##
bin/
obj/
/wanshu-api-demo-csharp/wanshu-api-demo-csharp.sln
